/node_modules
/server
/src
/static
/test
/typings
/util
/.babelrc
/.eslintignore
/.eslintrc.js
/.gitignore
/api-extractor.json
/gulpfile.ts
/jest.config.ts
/rollup.config.ts
/server.ts
/tsconfig.eslint.json
/tsconfig.json